<?php

use {{class_name_to_test}};

class {{class_name}} extends \PHPUnit_Framework_TestCase {

  /**
   * This method is generated.
   */
  public function testInstanceIsCorrect()
  {
    $result = new \{{class_name_to_test}}();
    $this->assertInstanceOf('{{class_name_to_test}}', $result);
  }
  
  //Write the next tests below...
  
}